<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline text-center">
                        <li><a href=""> Home</a></li>   |  <li><a href="">New Policy</a></li>   |  <li><a href="">Search</a></li>   |  <li><a href="">Analytics</a></li>   | <li><a href="">Work Inbox</a></li>   |  <li><a href="">Configurator</a></li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <a href=""><i class="fa fa-envelope"></i> Enquiries@Peliwicainsurance.Co.Uk</a>
                        </div>
                        <div class="col-sm-3 col-md-4 text-center">
                            <i class="fa fa-phone"></i> 01423 790 100
                        </div>
                        <div class="col-sm-4 col-md-4 text-center">
                            <ul class="social-icon list-inline">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bottom-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>© 2018 <a href="">Peliwica Insurance</a> All rights reserved</p>
                <p><a href="">Terms & Privacy</a></p>
            </div>
        </div>
    </div>
</footer>