<section class="obtain-quote-section thankyou-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center"><span>Step 6</span>Confirmation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Quotation Number EQ00001 <span><a href="javascript:void(0);"><i class="fa fa-envelope fa-lg"></i></a> <a href="javascript:void(0);"><i class="fa fa-print fa-lg"></i></a></span></h3>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h4>Thank you!</h4>
                        <p>Your request has been submitted to the `.</p>
                        <p>will confirm the full premium, <a href="javascript:void(0);">terms</a> and <a href="javascript:void(0);">conditions</a> and any additional information that may be required within 4 working hours. The  policy schedule or quotation schedule and all supporting documentation will be made available in your work inbox for delivery to your customer.  If you have any questions please call, email or use our webchat option and we will be happy to assist.</p>
                        <button class="btn btn-hollow-grey">New policy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>