<div class="board-inner" id="status-buttons">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-justified" id="myTab">
                    <li>
                        <a routerLink="quote" href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal"><span>1</span><strong class="hidden-xs">Obtain Quote</strong></a>
                    </li>
                    <li>
                        <a routerLink="policyHolder" href="javascript:void(0);" routerLinkActive="active" data-toggle="tab" title="Policy Holder"><span>2</span><strong class="hidden-xs">Policyholder Details</strong></a>
                    </li>
                    <li>
                        <a routerLink="horseDetails" routerLinkActive="active" data-toggle="tab" title="Horse Details"><span>3</span><strong class="hidden-xs">Full<br class="hidden-xs"> Risk Details</strong></a>
                    </li>
                    <li>
                        <a routerLink="statementOfFact" routerLinkActive="active" data-toggle="tab" title="Satement Of Fact"><span>4</span><strong class="hidden-xs">Statement<br class="hidden-xs"> of Fact</strong></a>
                    </li>
                    <li>
                        <a routerLink="verify" routerLinkActive="active" data-toggle="tab" title="Verify"><span>5</span><strong class="hidden-xs">Verify</strong></a>
                    </li>
                    <li>
                        <a routerLink="confirmation" routerLinkActive="active" data-toggle="tab" title="Confirmation"><span>6</span><strong class="hidden-xs">Confirmation</strong></a>
                    </li>    
                </ul>
            </div>
        </div>
    </div>
</div>